# Dependencies
node_modules

# Logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist

# TypeScript
/*.tsbuildinfo
*.d.ts.map

# Vite
/vite.*
/.vite

# Nuxt
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Env
.env
*.env.local
*.local

# Testing
reports
coverage
*.lcov
.nyc_output
/.husky/_

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
*.swp

# Tarball files
package
*.tgz

# Binaries
*.exe
*.dll
*.so
*.dylib

# Temp files
/tmp
*.tmp
*.temp
*.pid
*.seed
*.pid.lock